@page

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>StepChat</title>
    <script defer src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script defer src="~/lib/crypto-js/crypto-js.min.js"></script>
    <script defer src="~/js/data_base.js"></script>
    <script defer src="~/js/chat.js"></script>
</head>
<body>
    <div style="display: flex;">

    <div id="loginBlock">
        <p>
            Введите email:<br />
            <input id="email" type="text" />
        </p>

        <input id="loginBtn" type="button" value="Войти" />
    </div>
    <div id="registerBlock" style="margin-left: 50%;">
        <p>
            Введите email для регистрации:<br />
            <input id="reg_email" type="text" />
        </p>

        <input id="registerBtn" type="button" value="Зарегестрироваться" />
    </div>
    </div>
    <br/>

    <div id="inputForm">
        <p>
            Введите кому хотите отправить сообщение:<br />
            <input id="sendTo" type="text" />
        </p>
        <input type="text" id="message" />
        <input type="button" id="sendBtn" disabled value="Отправить" />
    </div>
    <div id="chatroom"></div>
</body>
</html>