@page
@using StepChat.Classes;

@{
    //StepChat.Classes.Encryption.DecryptStringFromBytes();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>METANIT.COM</title>
    <script defer src="~/js/data_base.js"></script>
    <script defer src="~/js/chat.js"></script>

    @*<script defer src="~/lib/"></script>*@
</head>
<body>
    <div style="display: flex;">

    <div id="loginBlock">
        <p>
            Введите email:<br />
            <input id="email" type="text" />
        </p>

        <input id="loginBtn" type="button" value="Войти" />
    </div>
    <div id="registerBlock" style="margin-left: 50%;">
        <p>
            Введите email для регистрации:<br />
            <input id="reg_email" type="text" />
        </p>

        <input id="registerBtn" type="button" value="Зарегестрироваться" />
    </div>
    </div>
    <br/>

    <div id="inputForm">
        <p>
            Введите кому хотите отправить сообщение:<br />
            <input id="sendTo" type="text" />
        </p>
        <input type="text" id="message" />
        <input type="button" id="sendBtn" disabled value="Отправить" />
    </div>
    <div id="chatroom"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
</body>
</html>