@model StepChat.Models.MessagesModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/main_style.css">
    <title>Step Chat</title>
</head>

<body>
    <div class="container">
        <div class="search-box">
            <div class="header">
                <div id="burger-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <!-- <div class="burger-menu">
                  <img src="burgermenu.png" width="30px" height="30px" class="cover">
                </div> -->
                <div class="search-chat">
                    <input type="text" placeholder="Search">
                </div>
            </div>
            <div class="chat-list">
                <div id="user-cl" class="block">
                    <div class="image-box">
                        <div class="image-padding">
                            <img class="image" src="/icons/stepwpicon.jpg">
                        </div>
                    </div>
                    <div id="user-cl" class="details">
                        <div class="head-list">
                            <h4>FBMS_1211_ru</h4>
                            <p class="time">10:51</p>
                        </div>
                        <div id="user-cl" class="message-container">
                            <div class="message">
                                <p>Elvin.M: Где ваши домашки ребята?</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="user-cl" class="block">
                    <div class="image-box">
                        <div class="image-padding">
                            <img class="image" src="/images/blank-profile-picture.png">
                        </div>
                    </div>
                    <div class="details">
                        <div class="head-list">
                            <div class="user-name">
                                <h4>Орхан</h4>
                            </div>
                            <div class="message-time">
                                <p class="time">02:27</p>
                            </div>
                        </div>
                        <div class="message-container">
                            <div class="message">
                                <p>Где дизайн?</p>
                            </div>
                            <div class="new-message_container">
                                <div class="new-message">1</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="user-cl" class="block">
                    <div class="image-box">
                        <div class="image-padding">
                            <img class="image" src="/images/blank-profile-picture.png">
                        </div>
                    </div>
                    <div class="details">
                        <div class="head-list">
                            <div class="user-name">
                                <h4>Elvin Azimov</h4>
                            </div>
                            <div class="message-time">
                                <p class="time">19:42</p>
                            </div>
                        </div>
                        <div class="message-container">
                            <div class="message">
                                <div class="last-message-status_container">
                                    <div class="last-message-status">
                                        <svg viewBox="0 0 18 18" width="18" height="18" class="">
                                            <path fill="#0ed145"
                                                  d="m17.394 5.035-.57-.444a.434.434 0 0 0-.609.076l-6.39 8.198a.38.38 0 0 1-.577.039l-.427-.388a.381.381 0 0 0-.578.038l-.451.576a.497.497 0 0 0 .043.645l1.575 1.51a.38.38 0 0 0 .577-.039l7.483-9.602a.436.436 0 0 0-.076-.609zm-4.892 0-.57-.444a.434.434 0 0 0-.609.076l-6.39 8.198a.38.38 0 0 1-.577.039l-2.614-2.556a.435.435 0 0 0-.614.007l-.505.516a.435.435 0 0 0 .007.614l3.887 3.8a.38.38 0 0 0 .577-.039l7.483-9.602a.435.435 0 0 0-.075-.609z">
                                            </path>
                                        </svg>
                                    </div>
                                </div>
                                <p>Го в казаков?</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="chat-box">
            <!-- <img class="step-icon" src="logos.svg" width="300" height="310"> -->
            <div id="convo" class="convo">
                <div class="convo-head">
                    <div class="convo-user">
                        <div class="image-box">
                            <div class="image-padding">
                                <img class="image" src="/images/blank-profile-picture.png">
                            </div>
                        </div>
                        <h4>Орхан</h4>
                    </div>
                    <div class="convo-search">
                        <img src="/icons/magnifying-glass.png">
                    </div>
                    <div class="calls">
                        <div class="audio-call">
                            <img src="/icons/phone-call.png">
                        </div>
                        <div class="video-call">
                            <img src="/icons/video.png">
                        </div>
                    </div>
                </div>
                <div class="convo-main">
                    <div class="chatting frnd-message">
                        <p>Где дизайн?<br><span>12:15</span></p>
                    </div>
                </div>
                <div class="convo-input">
                    <div class="paper-clip">
                        <img src="/icons/plus.png">
                    </div>
                    <div class="chat-input">
                        <input type="Text" placeholder="Type...">
                    </div>
                    <div class="smile">
                        <img src="/icons/happy.png">
                    </div>
                    <div class="send">
                        <img src="/icons/send-message.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</html>

