@using Microsoft.EntityFrameworkCore;
@using StepChat.Contexts;
@model StepChat.Models.MessagesModel
@inject MessengerDataDbContext _context

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/main_style.css">

    @*<script defer src="~/lib/signalr/dist/browser/signalr.min.js"></script>*@
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script defer src="~/lib/jquery/dist/jquery.min.js"></script>
    <script defer src="~/lib/crypto-js/crypto-js.min.js"></script>
    <script defer src="~/js/data_base.js"></script>
    <script defer src="~/js/chat.js"></script>

    <title>Step Chat</title>
</head>

@{
   var chats = await _context.Chats.ToListAsync();
}

<body>
    <div class="container">
        <div class="search-box">
            <div class="header">
                <div id="burger-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

                <div class="search-chat">
                    <input type="text" placeholder="Search">
                </div>
            </div>
            <div class="chat-list">
                @foreach (var item in chats)
                {
                    <div id="user-cl" class="block">
                        <div class="image-box">
                            <div class="image-padding">
                                <img class="image" src="data:image;base64,@System.Convert.ToBase64String(_context.Images.FirstOrDefault(x => x.ImageId == item.ImageId).Image)">
                            </div>
                        </div>
                        <div id="user-cl" class="details">
                            <div class="head-list">
                                <h4>@item.Name</h4>
                                <p class="time">@item.Time.Value.ToString(@"hh\:mm")</p>
                            </div>
                            <div id="user-cl" class="message-container">
                                <div class="message">
                                    <p>Elvin.M: Где ваши домашки ребята?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
               
                <div id="user-cl" class="block" data-email="osalaxetdinov@gmail.com">
                    <div id="messageStart" class="image-box">
                        <div class="image-padding">
                            <img class="image" src="/images/blank-profile-picture.png">
                        </div>
                    </div>
                    <div class="details">
                        <div class="head-list">
                            <div class="user-name">
                                <h4>Орхан</h4>
                            </div>
                            <div class="message-time">
                                <p class="time">02:27</p>
                            </div>
                        </div>
                        <div class="message-container">
                            <div class="message">
                                <p>Где дизайн?</p>
                            </div>
                            <div class="new-message_container">
                                <div class="new-message">1</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="user-cl" class="block" data-email="muradlireceb@gmail.com">
                    <div class="image-box">
                        <div class="image-padding">
                            <img class="image" src="/images/blank-profile-picture.png">
                        </div>
                    </div>
                    <div class="details">
                        <div class="head-list">
                            <div class="user-name">
                                <h4>Elvin Azimov</h4>
                            </div>
                            <div class="message-time">
                                <p class="time">19:42</p>
                            </div>
                        </div>
                        <div class="message-container">
                            <div class="message">
                                <div class="last-message-status_container">
                                    <div class="last-message-status">
                                        <svg viewBox="0 0 18 18" width="18" height="18" class="">
                                            <path fill="#0ed145"
                                                  d="m17.394 5.035-.57-.444a.434.434 0 0 0-.609.076l-6.39 8.198a.38.38 0 0 1-.577.039l-.427-.388a.381.381 0 0 0-.578.038l-.451.576a.497.497 0 0 0 .043.645l1.575 1.51a.38.38 0 0 0 .577-.039l7.483-9.602a.436.436 0 0 0-.076-.609zm-4.892 0-.57-.444a.434.434 0 0 0-.609.076l-6.39 8.198a.38.38 0 0 1-.577.039l-2.614-2.556a.435.435 0 0 0-.614.007l-.505.516a.435.435 0 0 0 .007.614l3.887 3.8a.38.38 0 0 0 .577-.039l7.483-9.602a.435.435 0 0 0-.075-.609z">
                                            </path>
                                        </svg>
                                    </div>
                                </div>
                                <p>Го в казаков?</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="settings-admin">
                <div class="admin-logos">
                    <div class="group-create">
                        <img src="/icons/users.svg">
                    </div>
                    <div class="user-add">
                        <img src="/icons/user-plus.svg">
                    </div>
                    <div class="user-delete">
                        <img src="/icons/user-minus.svg">
                    </div>
                </div>
            </div>
        </div>


        <div class="chat-box">
            <div id="convo" class="convo">
                <div class="convo-head">
                    <div class="convo-user">
                        <div class="image-box">
                            <div class="image-padding">
                                <img class="image" src="/images/blank-profile-picture.png">
                            </div>
                        </div>
                        <h4>Орхан</h4>
                    </div>
                    <div class="convo-search">
                        <img src="/icons/search.svg">
                    </div>
                </div>
                <div class="convo-main">
                    <div id="messageBox" class="chatting frnd-message">
                        <p>Где дизайн?<br><span>12:15</span></p>
                    </div>
                </div>
                <div class="convo-input">
                    <div class="paper-clip">
                        <img src="/icons/circle-plus.svg">
                    </div>
                    <div class="chat-input">
                        <input id="message" type="Text" placeholder="Type...">
                    </div>
                    <div class="smile">
                        <img src="/icons/mood-crazy-happy.svg">
                    </div>
                    <div id="sendBtn" class="send">
                        <img src="/icons/arrow-forward-up.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
</html>

