@model StepChat.Models.MessagesModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/main_style.css">
    <title>View</title>
</head>
<body>
    <div class="container">
        <div class="search-box">
            <div class="header">
                <div class="burger-menu">
                    <img src="~/icons/burgermenu.png" width="30px" height="30px" class="cover">
                </div>
                <div class="search-chat">
                    <input type="text" placeholder="Search">
                </div>
            </div>
            <div class="chat-list">
                <div class="block">
                    <div class="image-box">
                        <div class="image-padding">
                            <img class="image" src="~/icons/stepwpicon.jpg">
                        </div>
                    </div>
                    <div class="details">
                        <div class="head-list">
                            <h4>FBMS_1211_ru</h4>
                            <p class="time">10:51</p>
                        </div>
                        <div class="message">
                            <p>Elvin.M: Где ваши домашки ребята?</p>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="image-box">
                        <div class="image-padding">
                            <img class="image" src="~/icons/blank-profile-picture-ga960cbbcc_1280.png">
                        </div>
                    </div>
                    <div class="details">
                        <div class="head-list">
                            <h4>Орхан</h4>
                            <p class="time">02:27</p>
                        </div>
                        <div class="message">
                            <p>Где дизайн падла?</p>
                            <b>1</b>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="image-box">
                        <div class="image-padding">
                            <img class="image" src="~/icons/blank-profile-picture-ga960cbbcc_1280.png">
                        </div>
                    </div>
                    <div class="details">
                        <div class="head-list">
                            <h4>Эмиль</h4>
                            <p class="time">07:59</p>
                        </div>
                        <div class="message">
                            <p>Ала опарыши бомба на вкус</p>
                            <b>3</b>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="image-box">
                        <div class="image-padding">
                            <img class="image" src="~/icons/blank-profile-picture-ga960cbbcc_1280.png">
                        </div>
                    </div>
                    <div class="details">
                        <div class="head-list">
                            <h4>Тамерлан</h4>
                            <p class="time">23:42</p>
                        </div>
                        <div class="message">
                            <p>Почему игноришь???</p>
                            <b>56</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="chat-box">
            <img class="step-icon" src="~/icons/logos.svg" width="300" height="310">
        </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
