<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>METANIT.COM</title>
</head>
<body>
    <div id="loginBlock">
        <p>
            Введите логин:<br />
            <input id="email" type="text" />
        </p>
        <p>
            Введите email:<br />
            <input id="name" type="text" />
        </p>
        <input id="loginBtn" type="button" value="Войти" />
    </div>
    <br />

    <div id="inputForm">
        <input type="text" id="message" />
        <input type="button" id="sendBtn" disabled value="Отправить" />
    </div>
    <div id="chatroom"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script>
        let token;      
        let username;
        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/chatHub", { accessTokenFactory: () => token })
            .build();

        // аутентификация
        document.getElementById("loginBtn").addEventListener("click", async () => {

            // отправляем запрос на аутентификацию
            // посылаем запрос на адрес "/login", в ответ получим токен и имя пользователя
            const response = await fetch("/auth", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    email: document.getElementById("email").value,
                    password: document.getElementById("name").value
                })
            });

            // если запрос прошел нормально
            if (response.ok === true) {
                // получаем данные
                const data = await response.json();
                token = data.access_token;
                username = data.username;
                document.getElementById("loginBtn").disabled = true;

                hubConnection.start()       // начинаем соединение с хабом
                    .then(() => document.getElementById("sendBtn").disabled = false)
                    .catch(err => console.error(err.toString()));
            }
            else {
                // если произошла ошибка, получаем код статуса
                console.log(`Status: ${response.status}`);
            }
        });

        // отправка сообщения от простого пользователя
        document.getElementById("sendBtn").addEventListener("click", () => {
            const message = document.getElementById("message").value;
            hubConnection.invoke("Send", message, username)
                .catch(error => console.error(error));
        });
        // получение сообщения от сервера
        hubConnection.on("Receive", (message, user) => {

            // создаем элемент <b> для имени пользователя
            const userNameElem = document.createElement("b");
            userNameElem.textContent = `${user}: `;

            // создает элемент <p> для сообщения пользователя
            const elem = document.createElement("p");
            elem.appendChild(userNameElem);
            elem.appendChild(document.createTextNode(message));

            var firstElem = document.getElementById("chatroom").firstChild;
            document.getElementById("chatroom").insertBefore(elem, firstElem);
        });
    </script>
</body>
</html>