html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", "Apple Color Emoji", "Segoe UI", "Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px none;
  border-radius: 50%;
  margin: auto;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.search-box {
  position: relative;
  background-color: #13315c;
  width: 35%;
  height: 100%;
  outline-style: solid;
  outline-color: #13315c;
}

.chat-box {
  position: relative;
  background-color: #134074;
  width: 100%;
  display: flex;
  outline-style: solid;
  outline-color: #13315c;
}

.header {
  position: relative;
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-chat {
  position: relative;
  width: 100%;
  display: flex;
  height: 30px;
  align-items: center;
}

.search-chat input {
  margin-left: 9px;
  padding: 6px 0px 10px 10px;
  background-color: #0b2545;
  width: 90%;
  color: white;
  border-radius: 6px;
  border: none;
}

.new-chat {
  display: flex;
  position: relative;
  right: 1.5%;
  top: 1%;
}

.new-chat-btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.step-icon {
  margin: auto;
}

.chat-list {
  position: relative;
  height: 85%;
  width: 100%;
}

.block {
  height: 72px;
  display: flex;
  align-items: center;
  padding: 0.5625rem;
  position: relative;
  right: 2%;
  pointer-events: all;
}

.image-box {
  display: flex;
  border-radius: 50%;
  width: 23%;
  cursor: pointer;
  align-items: center;
}

.convo-image-box {
  display: flex;
  border-radius: 50%;
  position: relative;
  top: 5%;
  cursor: pointer;
  align-items: center;
}

.image-padding {
  padding: 0 15px 0 13px;
}

.image {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.details {
  position: relative;
  width: 100%;
}

.head-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.user-name {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.head-list h4 {
  font-style: normal;
  font-weight: 60;
  font-size: 1rem;
  color: #e9edef;
}

.message-time {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1.9rem;
}

.time {
  display: flex;
  justify-content: space-between;
  font-weight: 60;
  font-size: 12px;
  color: #8696A0;
}

.message-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: rgb(134, 150, 160);
}

.new-message {
  background: #3E83BD;
  font-family: "Roboto", "sans-serif";
  min-width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.75rem;
  color: #fff;
  font-size: .875rem;
  line-height: 1.5625rem;
  font-weight: 500;
  text-align: center;
  flex-shrink: 0;
}

.new-message_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1.9rem;
}

.message {
  width: 100%;
  height: 100%;
  display: flex;
}

.message p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 226px;
}

.last-message-status_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2px;

}

.last-message-status {
  height: 18px;
  width: 18px;
  display: flex;
  justify-content: center;
  vertical-align: top;
  margin-bottom: 2px;
}

/* .burger-menu {
  display: flex;
  left: 0.5%;
  top: 1%;
  position: relative;
}

.burger-menu-btn {
  background-color: #13315c;
  border: 0;
  cursor: pointer;
} */

/* #burger-menu {
  margin-left: 20px;
  width: 40px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}


#burger-menu span {
  display: block;
  position: absolute;
  height: 2px;
  width: 35px;
  background: #9b9c9d;
  border-radius: 9px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#burger-menu span:nth-child(1) {
  top: 10px;
}

#burger-menu span:nth-child(2),
#burger-menu span:nth-child(3) {
  top: 20px;
}

#burger-menu span:nth-child(4) {
  top: 30px;
}

#burger-menu.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#burger-menu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#burger-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#burger-menu.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
} */

.block:hover {
  background: rgba(0, 0, 0, 0.1);
}

.convo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.convo-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 7%;
  background: #13315c;
}

.convo-user {
  display: flex;
  height: 100%;
  align-items: center;
}

.convo-user h4 {
  font-style: normal;
  font-weight: 60;
  font-size: 1rem;
  color: #e9edef;
}

.convo-main {
  position: relative;
  align-items: flex-end;
  display: flex;
  width: 100%;
  height: 85%;
}

.convo-input {
  position: relative;
  display: flex;
  align-items: center;
  height: 8%;
  background: #13315c;
}

.chat-input {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.chat-input input {
  margin-left: 15px;
  padding: 10px 0px 10px 20px;
  background-color: #0b2545;
  border-radius: 6px;
  border: none;
  color: white;
  width: 94%;
}

.smile {
  position: relative;
  display: flex;
  margin-right: 25px;
  cursor: pointer;
}

.smile img {
  transition-duration: 0.7s;
}

.smile img:hover {
  background-color: #154883;
  border-radius: 20%;
  color: white;
}

.paper-clip {
  position: relative;
  display: flex;
  margin-left: 15px;
  cursor: pointer;
}

.paper-clip img {
  transition-duration: 0.7s;
}

.paper-clip img:hover {
  background-color: #154883;
  border-radius: 20%;
  color: white;
}

.send {
  position: relative;
  display: flex;
  margin-right: 15px;
  cursor: pointer;
}

.send img {
  transition-duration: 0.7s;
}

.send img:hover {
  background-color: #154883;
  border-radius: 20%;
  color: white;
}

.chatting {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  overflow: overlay;
  height: 100%;
}

/* .chatting-frnd-message {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: red;
} */

.chat-message-container-your {
  width: 100%;
  display: flex;
  position: relative;
  bottom: 10px;
  margin-top: 5px;
  justify-content: flex-end;
  animation: modal 1s alternate ease;
}

.chat-message-container-frnd {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: 5px;
  bottom: 10px;
  animation: modal 1s alternate ease;
}

.chat-message-your {
  background-color: #00a199;
  min-width: 151px;
  max-width: 481px;
  position: relative;
  padding: 3px;
  display: flex;
  border-radius: 5px;
  border-top-right-radius: 0px;
  min-height: 40px;
  justify-content: space-between;
}

.mySvg {
  float: left;
}

.chat-message-frnd {
  min-width: 151px;
  max-width: 481px;
  position: relative;
  padding: 3px;
  display: flex;
  border-radius: 5px;
  border-top-left-radius: 0px;
  min-height: 40px;
  background-color: #3b4a54;
  justify-content: space-between;
}

.chat-frnd-message-time {
  color: #c1c1c1;
  display: flex;
  flex-direction: column-reverse;
  margin-right: 2px;
}

.chat-your-message-time {
  color: #c1c1c1;
  display: flex;
  margin-left: 45px;
  flex-direction: column-reverse;
}

.chatting-frnd-message-text {
  color: white;
  align-items: center;
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  height: 100%;
  word-break: break-all;
  margin-left: 5px;
}

.chatting-your-message-text {
  color: white;
  align-items: center;
  display: flex;
  position: relative;
  left: 5%;
  word-break: break-all;
  flex-wrap: nowrap;
  height: 100%;
}

.frnd-message-kr {
  display: flex;
  position: relative;
  width: 16px;
}

.chatting-frnd-message span {
  text-align: right;
  font-size: 12px;
  position: relative;
  right: 2px;
  display: flex;
  top: 13px;
}

.chatting-your-message {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  height: 100%;
  width: 100%;
  background-color: black;
}

.your-message-status {
  height: 18px;
  width: 18px;
  display: flex;
  position: relative;
  justify-content: center;
  top: 50%;
}

.chatting-your-message p {
  position: absolute;
  color: #e9edef;
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 6px;
  width: 10%;
  height: 3%;
  border-top-right-radius: 0px;
  min-width: max-content;
  background: #00a884;
  border-radius: 5px;
}

.chatting-your-message span {
  text-align: right;
  font-size: 12px;
  position: relative;
  right: 2px;
  display: flex;
  top: 15px;
}

.message-kr {
  display: flex;
  position: relative;
  width: 16px;
}

.convo-search {
  position: relative;
  display: flex;
  margin-right: 15px;
}

.convo-search:hover {
  background-color: #154883;
  border-radius: 20%;
  color: white;
}

.settings-admin {
  display: flex;
  position: relative;
  background-color: #13315c;
  height: 8%;
  left: 2%;
}

.admin-logos {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-panel {
  height: 100%;
  display: flex;
  align-items: center;
}

.admin-panel-btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.admin-panel-btn img {
  transition-duration: 0.7s;
}

.admin-panel-btn img:hover {
  background-color: #154883;
  border-radius: 20%;
  color: white;
}

.admin-popup {
  display: none;
  height: 25%;
  width: 25%;
  background: #13315c;
  position: absolute;
  top: 30%;
  left: 45%;
  filter: drop-shadow(2px 4px 6px black);
  animation: modal 1s alternate ease;
  /* animation: Wrapper 1s; */
}

@keyframes Wrapper {
  0% {
    transform: translateY(-40px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes modal {
  0% {
    opacity: 0;
  }

  ;

  100% {
    opacity: 1;
  }

  ;
}

.admin-container {
  height: 100%;
  display: flex;
}

.new-chat-popup {
  display: none;
  height: 55%;
  width: 20%;
  background: #13315c;
  position: absolute;
  top: 2%;
  left: 14%;
  filter: drop-shadow(2px 4px 6px black);
  animation: modal 1s alternate ease;
  animation: Wrapper 1s;
}

.new-chat-popup-container {
  height: 100%;
  display: flex;
}

.new-chat-close {
  background-color: transparent;
  border: 0;
}

.new-chat-close-btn {
  height: 5%;
    width: 7%;
    display: flex;
    justify-content: center;
}

.new-chat-btn img {
  transition-duration: 0.7s;
}

.new-chat-btn img:hover {
  background-color: #154883;
  border-radius: 20%;
  color: white;
}

.new-chat-user {
  display: flex;
    height: 20%;
    position: relative;
    align-items: center;
}

.new-chat-user h4 {
  font-style: normal;
    font-weight: 60;
    margin-bottom: 20%;
    font-size: 1rem;
    color: #e9edef;
}

.new-chat-user h5 {
  font-style: normal;
    font-weight: 60;
    font-size: 1rem;
    right: 43px;
    top: 10%;
    position: relative;
    color: #e9edef;
}

.new-chat-user p {
  font-style: normal;
  font-weight: 60;
  margin-bottom: 15%;
  font-size: 1rem;
  color: #e9edef;
}

.search-new-chat {
  position: relative;
  width: 100%;
  top: 5%;
  display: flex;
  height: 30px;
  align-items: center;
}

.search-new-chat input {
  margin-left: 12px;
  padding: 6px 60px 10px 10px;
  background-color: #0b2545;
  width: -webkit-fill-available;
  color: white;
  border-radius: 6px;
  border: none;
}

.select-chat-user {
  display: block;
  position: absolute;
  height: 87%;
  width: 100%;
  top: 13%;
}

.admin-close {
  background-color: transparent;
  border: 0;
}

.admin-close-btn {
  height: 4%;
  width: 8%;
  display: flex;
  justify-content: end;
}

.convo-search-input {
  position: relative;
  display: none;
  width: 30%;
  height: 30px;
  margin-right: 15px;
  align-items: center;
}

.convo-search-input input {
  margin-left: 9px;
  padding: 6px 10px 10px 10px;
  background-color: #0b2545;
  width: 90%;
  color: white;
  border-radius: 6px;
  border: none;
}

.search-btn {
  background-color: #13315c;
  border: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.search-btn img {
  transition-duration: 0.7s;
}

.search-btn img:hover {
  background-color: #154883;
  border-radius: 20%;
  color: white;
}

.search-close {
  background-color: transparent;
  border: 0;
}

.select-user {
  display: none;
  position: absolute;
  height: 83%;
  width: 100%;
  top: 4%;
}

.select-user h4 {
  font-style: normal;
  font-weight: 60;
  margin-bottom: 45%;
  font-size: 1rem;
  color: #e9edef;
}

.select-group-user:hover {
  background: #134074;
}

.group-buttons {
  height: 96%;
  position: relative;
  top: 4%;
  left: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.group-create-btn {
  background-color: #13315c;
  border: 0;
  height: fit-content;
  cursor: pointer;
}

.user-add-btn {
  background-color: #13315c;
  border: 0;
  height: fit-content;
  cursor: pointer;
}

.user-delete-btn {
  background-color: #13315c;
  border: 0;
  height: fit-content;
  cursor: pointer;
}

.group-create-btn:hover {
  background-color: #154883;
  border-radius: 20%;
  color: white;
}

.user-add-btn:hover {
  background-color: #154883;
  border-radius: 20%;
  color: white;
}

.user-delete-btn:hover {
  background-color: #154883;
  border-radius: 20%;
  color: white;
}

.group-create-btn {
  transition-duration: 0.7s;
}

.user-add-btn {
  transition-duration: 0.7s;
}

.user-delete-btn {
  transition-duration: 0.7s;
}

.group-user {
  display: flex;
  height: 100%;
  align-items: center;
}

.select-group-user {
  height: 17%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.select-user-cb {
  display: flex;
}

.group-create-submit {
  display: none;
    align-self: end;
    position: relative;
    background-color: transparent;
    border: 0;
    left: 5%;
    justify-content: center;
    height: 13%;
    top: 20%;
    width: 100%;
    cursor: pointer;
}

.group-create-submit-btn {
  background-color: transparent;
  border: 0;
  height: 100%;
  cursor: pointer;
}

.group-create-submit-btn p {
  color: #c1c1c1;
}

.user-add-submit {
  display: none;
  align-self: end;
  position: relative;
  background-color: transparent;
  border: 0;
  left: 5%;
  justify-content: center;
  height: 13%;
  width: 100%;
  cursor: pointer;
}

.user-add-submit-btn {
  background-color: #13315c;
  border: 0;
  height: 100%;
  cursor: pointer;
}

.user-add-submit-btn p {
  color: #c1c1c1;
}

.user-delete-submit {
  display: none;
  align-self: end;
  position: relative;
  background-color: transparent;
  border: 0;
  left: 5%;
  justify-content: center;
  height: 13%;
  width: 100%;
  cursor: pointer;
}

.user-delete-submit-btn {
  background-color: #13315c;
  border: 0;
  height: 100%;
  cursor: pointer;
}

.user-delete-submit-btn p {
  color: #c1c1c1;
}

.user-info {
  display: flex;
    height: 100%;
    align-items: center;
    position: relative;
}

.group-input-name {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  left: 2%;
}

.group-input-name input {
  margin-left: 15px;
  padding: 10px 74% 10px 20px;
  background-color: #0b2545;
  border-radius: 6px;
  border: none;
  color: white;
  width: 20%;
}

.group-input {
  display: none;
  position: relative;
  width: 100%;
}

.group-submit-image {
  display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    height: 55%;
    left: 5%;
}

.group-edit-submit {
  display: none;
  align-self: end;
  position: relative;
  background-color: transparent;
  border: 0;
  left: 5%;
  justify-content: center;
  height: 13%;
  width: 100%;
  cursor: pointer;
}

.group-edit-submit-btn {
  background-color: #13315c;
  border: 0;
  height: 100%;
  cursor: pointer;
}

.group-edit-submit-btn p {
  color: #c1c1c1;
}

@media screen and (max-width: 800px) {
  .search-box {
    width: 100%;
  }
  .chat-box {
    display: none;
  }
  .settings-admin {
    display: none;
  }
  .image-box {
    width: 15%;
  }
  .new-chat-popup {
    width: 80%;
    left: 10%;
  }
  .user-info {
    left: 7%;
    width: 75%;
  }
  .details {
    left: 3%;
    width: 83%;
  }
  .convo-search-input {
    width: 50%;
    top: 5%;
    margin-right: 0px;
    margin-left: 5%;
  }
}


.emoji-popup {
  display: none;
  height: 30%;
  width: 15%;
  background: #13315c;
  position: absolute;
  top: 70%;
  left: 85%;
  filter: drop-shadow(2px 4px 6px black);
  animation: modal 1s reverse ease;
  animation: Wrapper 1s;
}

.emoji-popup-container {
  height: 100%;
  justify-content: end;
  width: 100%;
  display: flex;
}

.emoji-close {
  background-color: transparent;
  border: 0;
}

.emoji-close-btn {
  height: 8%;
    width: 13%;
    display: flex;
    justify-content: center;
}

.emoji-popup-btn {
  background: transparent;
  display: flex;
  position: relative;
  border: none;
}

.emoji-container {
  display: flex;
  height: 100%;
  top: 10%;
}